/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.user {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.user p {
	margin: 5px 0;
}